header, footer, section, nav, article {  
    display: block;  
}
body {
  	margin: 0 auto;  
    width: 950px;
    font-family: Arial;
  }
  h1 {
    color:navy;
    text-align: center;
    font-size: 3em;

  }
  h3 {
    text-align: center;
   color: #b35900;
    font-size: 2.25em;
  }
header {
    margin: 5px auto;
    width: 950px;
    height: 90px;
    border:2px solid navy;
    text-align: center;
    background-color: white;
}
  footer {
	  margin: 5px auto;
    text-align: center;
    color: white;
   font-size: 1.25em;
    width: 950px;
    height:50px;
    border: 2px solid navy;
    background-color:navy;
  }
  section {
    font-size:1.5em;
    text-align: center;
    columns:2;
    padding: 20px;
    width: 950px;
    height: 600px;
    border:2px solid gray;
    background-image: 
      url(https://cdn.wallpapersafari.com/90/15/2wN9yx.jpg);
  }
nav {
	  width: 950px;
	  height: 50px;
	  float: center;
	  font-family: Geneva,Arial;
	  border: 2px solid navy;
	  background-color: #D0DBF0;
}

nav ul {
    margin: 0px auto;
	  padding: 15px;
	  list-style-type: none;
}
nav li {
	  display: inline;

}

nav li a {
	  float: left;
	  text-align: center;
	  border-right: 2px solid navy;
   width: 100px;  
    font-size: 14px; 
	  padding: 0px 10px;
	  color: navy;
	  text-decoration: none;
}

nav li a:hover {
	color: whitesmoke;
}



